.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 92px;
  padding: 0 148px;
}

@media screen and (max-width: 1152px) {
  .lead {
    padding: 0 28px;
  }
}

@media screen and (max-width: 986px) {
  .lead {
    margin: 0;
    padding-bottom: 110px;
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    padding: 0 0 64px;
  }
}