.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1184px;
    width: 100%;
    margin: 28px auto 0;
}

@media screen and (max-width: 1152px) {
    .header {
        max-width: 928px;
        margin-right: 48px;
        margin-left: 48px;
    
    }
}

@media screen and (max-width: 986px) {
    .header {
        max-width: 720px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 48px;
    }
}