.content {
  display: grid;
  grid-row-gap: 92px;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .content {
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    grid-row-gap: 64px;
  }
}