.intro__text {
  max-width: 690px;
  width: 100%;
  margin-bottom: 33px;
  margin-top: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 800px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .intro__text {
    max-width: 288px;
    margin-left: 0;
    margin-right: 0;

  }
}